 .navbar .nav-link {
   color: #555;
   transition: color 0.3s ease, text-shadow 0.3s ease;
 }

 .navbar .nav-link:hover {
   color: #000;
   text-shadow: 0 0 8px #000000, 0 0 16px #000000;
 }

 .navbar .nav-link.active {
   color: #000000;
   font-weight: 600;
 }

 .galerie img {
   height: 200px;
   object-fit: cover;
   width: 100%;
 }

 
 .sekce {
  background-image: url('fotky/fleky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


  .nahled  {
  max-width: 800px;
  margin:auto;
 }


 
  .profil  {
   width: 80px;
 }


.formular  {
   max-width: 800px;
 }
